@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

.footer {
  margin-top: 4.5vh;
  margin-bottom: 4.5vh;
  height: 40vh;
  @include flex(row, center, center);
  border-top: 5px solid white;
  padding-top: 10vh;

  @include desktop {
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-top: 0.7vh solid white;
    padding-top: 10vh;
  }

  @include desktop {
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-top: 1vh solid white;
    padding-top: 10vh;
  }

  .body {
    width: 39%;
    color: white;

    .link {
      text-decoration: none;
      color: white;
      margin: 0px;

      &:nth-of-type(1),
      &:nth-of-type(2) {
        display: inline-flex;
      }

      &:nth-of-type(2) {
        right: -6px;
        position: relative;

        @include desktop {
          right: -20px;
        }
      }

      &:nth-of-type(3),
      &:nth-of-type(4) {
        display: inline-flex;
      }

      &:nth-of-type(4) {
        right: -9px;
        position: relative;

        @include desktop {
          right: -33px;
        }
      }
    }

    // .introLine:nth-of-type(1) {
    //   display: inline-flex;
    // }

    .introLine {
      @include flex(row, space-between, stretch);
      font-size: 3.5vw;
      text-transform: uppercase;
    }

    .introLine p {
      margin: 0px;
    }
  }
}
