@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.footer {
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 40vh;
  @include flex(row, center, center);
  border-top: 1vh solid white;
  padding-top: 10vh;

  .body {
    width: 39%;
    color: white;

    .link {
      text-decoration: none;
      color: white;
      margin: 0px;

      &:nth-of-type(1),
      &:nth-of-type(2) {
        display: inline-flex;
      }

      &:nth-of-type(2) {
        right: -20px;
        position: relative;
      }

      &:nth-of-type(3),
      &:nth-of-type(4) {
        display: inline-flex;
      }

      &:nth-of-type(4) {
        right: -33px;
        position: relative;
      }
    }

    // .introLine:nth-of-type(1) {
    //   display: inline-flex;
    // }

    .introLine {
      @include flex(row, space-between, stretch);
      font-size: 3.5vw;
      text-transform: uppercase;
    }

    .introLine p {
      margin: 0px;
    }
  }
}
