@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

.projects {
  @include flex(column, center, center);
  margin-top: 20vh;
  color: white;
  padding: 5%;

  .projectDescription {
    @include flex(row, space-between, stretch);
    height: 20vh;
    gap: 5%;
    width: 100%;
    cursor: default;

    @include tablet {
      height: 30vh;
    }

    @include desktop {
      height: 70vh;
    }

    .imageContainer {
      position: relative;
      height: 100%;
      width: 30%;

      img {
        object-fit: cover;
      }
    }

    .column {
      width: 20%;
      display: flex;
      font-size: 1.5vw;

      &:last-of-type {
        font-size: 1.5vw;
        align-items: flex-end;
      }
    }
  }

  .projectList {
    margin-top: 5rem;
    @include flex(column, center, center);
    width: 100%;

    @include desktop {
      margin-top: 12rem;
    }

    .projectEl {
      border-top: 1px solid white;
      width: 100%;
      @include flex(row, flex-end, stretch);

      &:last-of-type {
        border-bottom: 1px solid white;
      }

      a {
        text-decoration: none;
        color: white;
        z-index: 5;
      }

      p {
        font-size: 3vw;
        text-transform: uppercase;
      }
    }
  }
}
