@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.projects {
  @include flex(column, center, center);
  margin-top: 25vh;
  color: white;
  padding: 5%;

  .projectDescription {
    @include flex(row, space-between, stretch);
    height: 70vh;
    gap: 5%;
    width: 100%;

    .imageContainer {
      position: relative;
      height: 100%;
      width: 30%;

      img {
        object-fit: cover;
      }
    }

    .column {
      width: 20%;
      display: flex;
      font-size: 1.5vw;

      &:last-of-type {
        font-size: 1.5vw;
        align-items: flex-end;
      }
    }
  }

  .projectList {
    margin-top: 12rem;
    @include flex(column, center, center);
    width: 100%;

    .projectEl {
      border-top: 1px solid white;
      width: 100%;
      @include flex(row, flex-end, stretch);

      &:last-of-type {
        border-bottom: 1px solid white;
      }

      a {
        text-decoration: none;
        color: white;
      }

      p {
        font-size: 3vw;
        text-transform: uppercase;
      }
    }
  }
}
