$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

.gallery {
  height: 120vh;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  cursor: none;

  .imageContainer {
    height: 100%;
    width: 100%;
    position: relative;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .vignette {
    height: 30vh;
    width: 45vw;
    position: fixed;
    top: 0;
    border-radius: 1.5vw;
    overflow: hidden;

    @include desktop {
      height: 40vh;
      width: 20vw;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
