@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

.links {
  @include flex(row, space-between, stretch);

  .list {
    @include flex(row, space-around, stretch);
    width: 100%;
    list-style: none;
    padding: 0;

    a {
      text-decoration: none;
      color: white;

      li {
        font-size: 3vh;

        @include desktop {
          font-size: 5vh;
        }
      }
    }
  }
}
